<p id="notice"><%= notice %></p>

<p>
  <strong>Cry date:</strong>
  <%= @historical_quotation.cry_date %>
</p>

<p>
  <strong>Codbdi:</strong>
  <%= @historical_quotation.codbdi %>
</p>

<p>
  <strong>Codneg:</strong>
  <%= @historical_quotation.codneg %>
</p>

<p>
  <strong>Tpmerc:</strong>
  <%= @historical_quotation.tpmerc %>
</p>

<p>
  <strong>Nomres:</strong>
  <%= @historical_quotation.nomres %>
</p>

<p>
  <strong>Especi:</strong>
  <%= @historical_quotation.especi %>
</p>

<p>
  <strong>Prazot:</strong>
  <%= @historical_quotation.prazot %>
</p>

<p>
  <strong>Modref:</strong>
  <%= @historical_quotation.modref %>
</p>

<p>
  <strong>Preabe:</strong>
  <%= @historical_quotation.preabe %>
</p>

<p>
  <strong>Premax:</strong>
  <%= @historical_quotation.premax %>
</p>

<p>
  <strong>Premin:</strong>
  <%= @historical_quotation.premin %>
</p>

<p>
  <strong>Premed:</strong>
  <%= @historical_quotation.premed %>
</p>

<p>
  <strong>Preult:</strong>
  <%= @historical_quotation.preult %>
</p>

<p>
  <strong>Preofc:</strong>
  <%= @historical_quotation.preofc %>
</p>

<p>
  <strong>Preofv:</strong>
  <%= @historical_quotation.preofv %>
</p>

<p>
  <strong>Totneg:</strong>
  <%= @historical_quotation.totneg %>
</p>

<p>
  <strong>Quatot:</strong>
  <%= @historical_quotation.quatot %>
</p>

<p>
  <strong>Voltot:</strong>
  <%= @historical_quotation.voltot %>
</p>

<p>
  <strong>Preexe:</strong>
  <%= @historical_quotation.preexe %>
</p>

<p>
  <strong>Indopc:</strong>
  <%= @historical_quotation.indopc %>
</p>

<p>
  <strong>Datven:</strong>
  <%= @historical_quotation.datven %>
</p>

<p>
  <strong>Fatcot:</strong>
  <%= @historical_quotation.fatcot %>
</p>

<p>
  <strong>Ptoexe:</strong>
  <%= @historical_quotation.ptoexe %>
</p>

<p>
  <strong>Codisi:</strong>
  <%= @historical_quotation.codisi %>
</p>

<p>
  <strong>Dismes:</strong>
  <%= @historical_quotation.dismes %>
</p>

<%= link_to 'Edit', edit_historical_quotation_path(@historical_quotation) %> |
<%= link_to 'Back', historical_quotations_path %>
